<!DOCTYPE HTML>
<html th:replace="~{layout/layoutForm :: layout(~{::title}, ~{::link}, ~{::script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Children Register</title>
    <link th:href="@{/css/childRegisterForm.css}" rel="stylesheet">
    <link th:href="@{/css/joinForm.css}" rel="stylesheet">
    <script th:src="@{/js/childRegisterForm.js}"></script>
    <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body>
<section>
    <div id="joinForm">
        <div id="joinFormContainer">

            <div id="joinTitleDiv">
                <div id="joinTitle">등록</div>
            </div>

            <form id="registerForm" th:object="${registerForm}" method="post">

                <input type="hidden" id="gymId" th:field="*{gymId}" readonly>
                <input type="hidden" id="id" th:value="${loginUser.id}" readonly>
                <input type="hidden" id="name" th:value="${parentInfo.name}" readonly>
                <input type="hidden" id="memPhone" th:value="${parentInfo.phoneNumber}" readonly>

                <div class="joinInputDiv">
                    <div class="inputGroup">
                        <label for="gymName">체육관</label>
                        <input type="text" th:field="*{gymName}" th:errorclass="field-error" class="form-control"
                               readonly>
                        <div class="field-error"></div>
                    </div>
                </div>

                <div class="joinInputDiv">
                    <div class="inputGroup">
                        <label for="name" th:text="#{label.join.name}">이름</label>
                        <input type="text" th:field="*{name}" th:errorclass="field-error"
                               class="form-control" placeholder="이름">
                        <div class="field-error"></div>
                    </div>
                </div>

                <div class="joinInputDiv">
                    <div class="inputGroup">
                        <label for="age" th:text="#{label.join.age}">나이</label>
                        <input type="text" th:field="*{age}"
                               th:errorclass="field-error" class="form-control" placeholder="나이">
                        <div class="field-error"></div>
                    </div>
                </div>

                <div class="joinInputDiv">
                    <div class="inputGroup">
                        <label th:text="#{label.register.gender}">성별</label>
                    </div>
                    <div class="genderBox">
                        <label for="male">남자</label>
                        <input id="male" type="radio" name="gender" value="MALE"
                               th:checked="${registerForm.gender == 'MALE'}"/>
                        <label for="female">여자</label>
                        <input id="female" type="radio" name="gender" value="FEMALE"
                               th:checked="${registerForm.gender == 'FEMALE'}"/>
                        <div id=gender class="field-error"></div>
                    </div>
                </div>

                <div class="joinInputDiv">
                    <div class="inputGroup">
                        <label for="phone" th:text="#{label.join.phone}">휴대번호번호</label>
                        <input type="text" th:field="*{phone}"
                               th:errorclass="field-error" class="form-control" placeholder="휴대번호번호">
                        <div class="field-error"></div>
                    </div>
                </div>

                <div class="joinInputDiv">
                    <div class="inputGroup">
                        <label for="price">회비</label>
                        <input type="text" th:field="*{gymPrice}" class="form-control" readonly>
                    </div>
                </div>

                <div class="join-btn-box">
                    <button class="join-btn" type="submit" th:text="#{button.join}">등록</button>
                    <button class="cansel-btn"
                            th:onclick="|location.href='@{/gym/search}'|"
                            type="button" th:text="#{button.cancel}">취소
                    </button>
                </div>

            </form>
        </div>
    </div>

    <!-- 결제 팝업 -->
    <div id="payment-popup" class="payment-popup" style="display: none;">
        <div class="wrapper w-100">
            <div class="max-w-540 w-100">
                <div id="payment-method" class="w-100"></div>
                <div id="agreement" class="w-100"></div>
                <div class="btn-wrapper w-100">
                    <button id="payment-request-button" class="btn primary w-100">결제하기</button>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>