<!DOCTYPE HTML>
<html th:replace="~{layout/layoutForm :: layout(~{::title}, ~{::link}, ~{::script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>login</title>
    <link th:href="@{/css/loginForm.css}" rel="stylesheet">
    <script th:src="@{/js/loginForm.js}"></script>
</head>
<body>
<section>
    <div id="loginContainer">
        <div id="loginBox">
            <div class="loginTitle">
                <h2>로그인</h2>
            </div>
            <div class="loginForm">
                <form th:action th:object="${loginForm}" method="post">
                    <div>
                        <input type="text" th:field="*{memId}" class="form-control" placeholder="아이디">
                        <div class="field-error" th:errors="*{memId}"></div>
                    </div>
                    <div>
                        <input type="password" th:field="*{password}" class="form-control"
                               placeholder="비밀번호">
                        <div class="field-error" th:errors="*{password}"></div>
                    </div>

                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                    </div>

                    <div id="loginOptions">
                        <div class="checkbox">
                            <input type="checkbox" id="idSave" name="idSave">
                            <label for="idSave">아이디 저장</label>
                        </div>

                        <div class="findPasswordBox">
                            <a id="pwdSearch" href="<c:url value='/member/findPwd' />">비밀번호 찾기</a>
                        </div>
                    </div>

                    <div id="loginBtnBox">
                        <button class="loginBtn" type="submit" th:text="#{label.login}">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>