#joinForm .label-and-btn-user .address-btn{
    width: 120px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}

#joinForm .join-btn-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
