#manageForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#manageForm #manageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 50px;
}

#manageForm #manageTitle{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 50px;
    margin-top : 20px;
}

#manageForm #leftBox{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 300px;
}

#manageForm #myGymListTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    height: 41px;
    border: 1px solid black;
}

#manageForm .gymName{
    display: flex;
    cursor: pointer;
    width: 300px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
    align-items: center;
}

#manageForm #contentsBox{
    display: flex;
    flex-direction: row;
}

#manageForm .myMemberListBox{
    border : 1px solid lightgray;
    margin-bottom: 10px;
    margin-right: 9px;
}

#manageForm .myMemberListBox input{
    font-size: 15px;
    border: none;
    width: 147px;
    margin: 0;
    text-align: center;
    height: 30px;
    padding-right: 1px;
}

#manageForm .myMemberListBox .checkbox{
    border: none;
    width: 150px;
    height: 15px;
    margin: 0;
}

#manageForm .editButton{
    width: 80px;
    height: 30px;
    background-color: lightgray;
    color: black;
    border: none;
}

#manageForm #labelBox {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width : 1185px;
    height: 40px;
    margin-bottom: 5px;
}

#manageForm #labelBox input {
    width: 150px;
    height: 15px;
    margin: 0;
}

#manageForm #labelBox div{
    width: 153px;
    text-align: center;
    font-size: 16px;
    margin-right: 5px;
    font-weight: bold;
}

#manageForm .rightBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#manageForm .parentDisplayBtn{
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
    margin-top: 5px;
}

#manageForm .parentDisplayBtn button{
    width: 120px;
    height: 30px;
    background-color: lightgray;
    color: black;
    margin: 5px 0 5px 0;
    border: none;
    cursor: pointer;
}

#manageForm .parentsBox{
    display: none;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
    height: 40px;
}

#manageForm .parentsBox label{
    font-size: 15px;
    margin-right: 10px;
    margin-left: 5px;
    font-weight: bold;
}

#manageForm .parentsBox input{
    font-size: 15px;
    border: none;
    width: 120px;
    margin: 0 70px 0 0;
    text-align: center;
    height: 30px;
}

#manageForm .parentsBox .address{
    font-size: 15px;
    border: none;
    width: 280px;
    text-align: center;
    height: 30px;
}

#manageForm #bulkEditControls button{
    width: 120px;
    height: 40px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    margin: 25px 10px 0 0;
}

.scrollbar {
    height: 600px;
    overflow-y: scroll;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: lightgray; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
    background: whitesmoke;  /*스크롤바 뒷 배경 색상*/
}





